nav[data-page="/icon"] [data-page="/icon"] a,
nav[data-page="/checkbox"] [data-page="/checkbox"] a
  border-right 3px solid #5B4B7D
  cursor default
  &:hover .link
    border-bottom-color transparent

.block
  margin-bottom: 20px

.blockList
  height: 30px
  a
    display: flex
    padding-left: 10px
    align-items center
    height: 100%
    .link
      border-bottom 1px dashed transparent
    &:hover .link
      border-bottom-color #605082
