// buttin style
$btnColor = 'primary' 'secondary' 'blue' 'red' 'green' 'yellow' 'white'
$btnSize = 'default' 'small'
$isBtnTextColor = $palette.white

// Default buttin
.btn
  vertical-align: middle
  font-weight: 400
  color: white
  line-height: rem(20)
  text-align: center
  text-decoration: none
  display: inline-block
  height: rem(36)
  margin: 0
  border: 1px solid transparent
  box-shadow: none
  cursor: pointer
  position: relative
  overflow: hidden
  background-color: $palette.primary
  outline: 0
  &:hover
    color: white
    background-color: $palette.primaryDark

btn-color()
  color: $isBtnTextColor
  background-color: $isBackgroundColor

btn-bg($isBackgroundColor)
  btn-color()
  &:hover
    btn-color()

// btn-color
for $color in $btnColor
  .btn-{$color}
  .btn[data-color=\'{$color}\']
    if ($color == 'blue')
      btn-bg($palette.blue)
    if ($color == 'red')
      btn-bg($palette.red)
    if ($color == 'green')
      btn-bg($palette.green)
    if ($color == 'yellow')
      btn-bg($palette.yellow)
    if ($color == 'primary')
      btn-bg($colorPrimary)
  if ($color == 'white')
    .btn-{$color}
    .btn[data-color=\'{$color}\']
      color: $palette.primary
      background-color: $palette.white
      &:hover
        $isBackgroundColor = $palette.primary
        btn-color($palette.primary)

input[type="submit"].btn
  -webkit-appearance: none

// btn-size
for $size in $btnSize
  .btn
  .btn-{$size}
  .btn[data-size=\'{$size}\']
    if ($color == 'default')
      font-size: rem($baseFontSize)
      padding: $sizing.sm $sizing.lg
    if ($color == 'small')
      font-size: rem($baseFontSize - 1)
      padding: $sizing.xs  $sizing.md

// btn-outline
.btn-outline
  background: transparent
  color: $palette.primary
  border: 1px solid $palette.primary
  padding: $sizing.sm $sizing.xl
  &:hover
    color: white
    background: $palette.primaryDark

.btn[disabled], .btn-disabled
  opacity: .4
  cursor: default
  box-shadow: none

.btn-white.btn-disabled, .btn-white[disabled]
  opacity: .4
