$pd = 12px
$height = 34px

.select
  position: relative
  display: inline-block
  background-color: $palette.white
  border: 1px solid $palette.grayLight
  cursor pointer
  width: 200px
  &:focus
    outline: none
  //  .optionBox:after
  //    border: 1px solid $palette.primaryLight
  //    box-shadow: inset 0 0 2px rgba($palette.primaryLight, .2), 0 1px 2px rgba(0,0,0, .05)
.disabled
  opacity .5
  cursor no-drop
  background-color: $palette.grayLighter

.selectOpen
  .arrow
    transform: rotate(-225deg)
    margin-top 0
  .optionBox
    display: block
.optionBox
  min-width: 200px
  position: absolute
  display: none
  background-color: $palette.white
  border 1px solid rgba(0,0,0,.2)
  left: -1px
  //border-top none
  //right: -1px
  z-index: 999
  //opacity: 0
  //pointer-events: none

  &:after
    content ''
    position: absolute
    top: $height * -1
    right: 0
    bottom: 0
    left: 0
    pointer-events none

.options
  position: relative
  color: #a0a0a0
  padding 6px $pd
  white-space: nowrap
  &:hover:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 4px
    height: 100%
    background: $palette.primaryLight
  &:active
    background: $palette.primaryLight
    color: $palette.grayLightest
.titleText
  text-overflow: ellipsis
  width: 100%
  overflow: hidden
.title
  white-space: nowrap
  height: $height
  position: relative
  display: flex
  padding-left: $pd
  padding-right: $pd
  align-items center
  justify-content space-between

.titleRight
  margin-left: 20px
  float: right
.arrow
  $size = 12px
  $bcolor = 2px solid $palette.grayLight
  transition all .2s
  width: $size
  height: $size
  border-bottom: $bcolor
  border-left: $bcolor
  transform rotate(-45deg)
  margin-top: -7px
