// buttons

.btn
  display: inline-block
  line-height: 1.4285
  padding: 7px auto
  cursor: pointer
  text-align: center
  font-weight: 400
  border: 1px solid transparent
  &:focus
    outline: none
  &.-primary
    background: $colorGrayDark
    color: $white
    border: 1px solid $colorGrayDark
    &.btn[disabled]
      background: $black-15
  &.-secondary
    background: transparent
    border: 1px solid $colorGrayDark
    color: $colorGrayDarker
  &.-inital
    background: $colorPrimaryDark
    border: 1px solid $colorPrimaryDark
    color: $white
    &:hover
      background: $colorPrimary
      border: 1px solid $colorPrimary
    &.btn[disabled]
      background: $colorGrayDarker
  &.-normal
    background: $white
    border: 1px solid $colorPrimaryDark
    color: $colorPrimaryDark
    &:hover
      border: 1px solid $colorPrimaryLight
      color: $colorPrimary
    &.btn[disabled]
      border: 1px solid $black-15
      background: $white

  &.-block
    @extend .full-width
