// icon
// for SVG icon color

// grayscale
.icon-gray-ighter
  fill $grayLighter
.icon-gray-light
  fill $grayLight
.icon-gray
  fill $gray
.icon-gray-dark
  fill $grayDark
.icon-graydarker
  fill $grayDarker

.icon-black-15
  fill $black-15

.icon-red
  fill $red
.icon-white
  fill $white
.icon-orange
  fill $orange
.icon-yellow
  fill $yellow

// blue
.icon-blue-light
  fill $blueLight
.icon-blue
  fill $blue
.icon-blue-dark
  fill $blueDark

// purple
.icon-purple-light
  fill $purpleLight
.icon-purple
  fill $purple
.icon-purple-dark
  fill $purpleDark
