// mixins

// input placeholder-color
// http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
input-placeholder-color(color)
  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  :placeholder-shown
    color: color
