.full-width
  width: 100%
.full-height
  height: 100%
.full-size
  @extend .full-width
  @extend .full-height

.alc
  text-align: center
  display: block

.hide
  display: none !important
.show
  display: block !important

// SVG color fill

.fill-grayWhite
  fill: $colorGrayWhite
.fill-grayLighter
  fill: $colorGrayLighter
.fill-grayLight
  fill: $colorGrayLight
.fill-gray
  fill: $colorGray
.fill-grayDark
  fill: $colorGrayDark
.fill-grayDarker
  fill: $colorGrayDarker

.fill-white
  fill: $white
.fill-red
  fill: $colorSecondaryRed
.fill-orange
  fill: $colorSecondaryOrange
.fill-yellow
  fill: $colorSecondaryYellow
// blue
.fill-blueLight
  fill: $colorSecondaryBlueLight
.fill-blue
  fill: $colorSecondaryBlue
.fill-blueDark
  fill: $colorSecondaryBlueDark
// purple
.fill-purpleLight
  fill: $colorPrimaryLight
.fill-purple
  fill: $colorPrimary
.fill-purpleDark
  fill: $colorPrimaryDark
