.full-width
  width: 100%
.full-height
  height: 100%
.full-size
  @extend .full-width
  @extend .full-height

.hide
  display: none !important
.show
  display: block !important

// SVG color fill

.fill-grayWhite
  fill: $grayWhite
.fill-grayLighter
  fill: $grayLighter
.fill-grayLight
  fill: $grayLight
.fill-gray
  fill: $gray
.fill-grayDark
  fill: $grayDark
.fill-grayDarker
  fill: $grayDarker

.fill-white
  fill: $white
.fill-red
  fill: $red
.fill-orange
  fill: $orange
.fill-yellow
  fill: $yellow
// blue
.fill-blueLight
  fill: $blueLight
.fill-blue
  fill: $blue
.fill-blueDark
  fill: $blueDark
// purple
.fill-purpleLight
  fill: $purpleLight
.fill-purple
  fill: $purple
.fill-purpleDark
  fill: $purpleDark
