@import 'kouto-swiss'
//
// =Variables
//
// -----------------------------------------------------------------------------

// 1-color palette
// 1.1-palette
// 1.2-icon alette
// --grayscale
// =color palette
// =color palette
// =color palette
// =color palette



// Color palette
// -----------------------------------------------------------------------------

// Palette
$palette = {
  grayLightest : #F2F6F7,
  grayLighter  : #DFE4E6,
  grayLight    : #B8BDBF,
  gray         : #919799,
  grayDark     : #6C7173,
  grayDarker   : #3B3F40,
  white        : #FFFFFF,
  red          : #E6175C,
  orange       : #F27F0C,
  yellow       : #FFD919,
  blueLight    : hsl(210, 87.7, 59.4),
  blue         : #1677D9,
  blueDark     : hsl(210, 90.5, 36.8),
  green        : #B9E617,
  primaryLight : #CAB6F2,
  primary      : #8962D9,
  primaryDark  : #6B5499,
  turquoise    : #50E3C2
}

// Icon palette
$iconPalette = {
  gray-lighter  : #DFE4E6,
  gray-light    : #B8BDBF,
  gray          : #919799,
  gray-dark     : #6C7173,
  gray-darker   : #3B3F40,
  white         : #FFFFFF,
  red           : #E6175C,
  orange        : #F27F0C,
  yellow        : #FFD919,
  blue-light    : hsl(210, 87.7, 59.4),
  blue          : #1677D9,
  blue-dark     : hsl(210, 90.5, 36.8),
  primary-light : #CAB6F2,
  primary       : #8962D9,
  primary-dark  : #6B5499
}

//
// Old Color
// -----------------------------------------------------------------------------

//- Gray scale
$colorBasegray = #8d8d8d
$colorGrayLightest = #F2F6F7
$colorGrayLighter  = #DFE4E6
$colorGrayLight    = #B8BDBF
$colorGray         = #919799
$colorGrayDark     = #6C7173
$colorGrayDarker   = #3B3F40
$black-6  = rgba(0 0 0, .06)
$black-15 = rgba(0 0 0, .15)
$white        = $palette.white
$colorPrimaryLight       = $palette.purpleLight
$colorPrimary            = $palette.purple
$colorPrimaryDark        = $palette.purpleDark
$colorSecondaryRed       = $palette.red
$colorSecondaryOrange    = $palette.orange
$colorSecondaryYellow    = $palette.yellow
$colorSecondaryBlueLight = $palette.blueLight
$colorSecondaryBlue      = $palette.blue
$colorSecondaryBlueDark  = $palette.blueDark
$colorSecondaryGreen     = $palette.green


//
// Metrics
// -----------------------------------------------------------------------------

//- Sizing by increments
// KS reset
ks-rem-base = 16px
$baseGrid = 4px
$sizing = {
  xs: $baseGrid * 1 // 4
  sm: $baseGrid * 2 // 8
  md: $baseGrid * 3 // 12
  lg: $baseGrid * 4 // 16
  xl: $baseGrid * 5 // 20
}

//
// Fonts
// -----------------------------------------------------------------------------

//- Font
$baseFontFamily = 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif
$headingsFontFamily = $baseFontFamily
$controlsFontFamily = $baseFontFamily
$owlColor = $colorGrayDarker
$colorLinkHover = $colorPrimary
$colorLink = $colorPrimaryDark

// Type
$baseFontSize = 14
$baseSize  = 14px
$smallFontSize = 10
$baseLineHeight = 1.5
$baseLine = $baseFontSize * $baseLineHeight
$baseLineInEms = $baseLine / $baseFontSize
$buttonsSmallFontSize = $baseFontSize - 3px // 11px

// Heading
$headingSize = {
  h1: $baseFontSize + 22px // 36px
  h2: $baseFontSize + 16px // 30px
  h3: $baseFontSize + 10px // 24px
  h4: $baseFontSize + 4px // 18px
  h5: $baseFontSize + 0px // 14px
  h6: $baseFontSize - 2px // 12px
}

// Util
$em = $baseFontSize  // outputting ems, e.g. 14/@em

// Forms
$fieldsBottom = 14

//
// Config
// -----------------------------------------------------------------------------

$owlBg = #E6EBF0 //old
// background color gradient
$bgStart    = #d4d4d4
$bgEnd      = #ebebeb
$bgGradient = background-image: linear-gradient(to right, $bgStart, $bgEnd)
$bgGradient = #E6EBF0

$primaryIconBg = rgba(255,255,255,.80)
// file server URL
$fileServerURL = 'src/'
// Extending
$borderBox
  box-sizing: border-box
//Tip
$tipBg = rgba($palette.grayDarker, .7)
$tipRadius = $sizing.xs -1px
