.tab
  [data-role="tab-head"]
    display: flex
    > div
      cursor pointer
      padding: 5px 16px
      &[data-selected="1"]
        border-bottom 2px solid #9471DB
        cursor default
  [data-role="tab-content"]
    [data-selected]
      display: none
    [data-selected="1"]
      display: block
