$_border = 1px solid $palette.grayLighter
$_tdPadding = $sizing.sm
$_arrowWidth = 5px
$_arrowPositionX = $_tdPadding
$_arrowPositionY = $_tdPadding
$_arrowOffsetY = $_tdPadding

.tableBox
  position: relative
  border $_border
.table
  border $_border
  border-spacing 0
  border-collapse collapse
  width: 100%
  th
    font-weight 300
    text-align: left
    border-right $_border
    white-space nowrap
    &:last-child
      border-right: none
  th, td
    padding: $_tdPadding
    padding-right: ($sizing.sm * 2) + $_arrowWidth
    border-bottom $_border

  tbody
    tr
      &:last-child
        td
          border-bottom: none
      &:nth-child(even)
        background-color: $palette.grayLightest
      &:hover
        background-color: rgba($palette.blue, .1)

.thead
  overflow hidden
.tbody
  overflow-y auto

.thHide
  th
    border-bottom: none
    line-height 0
    height: 0
    color: transparent
    padding-top 0
    padding-bottom 0
    opacity 0

.sortable
  cursor: pointer
  position: relative
  &:after, &:before
    content: ''
    position: absolute
    display: block
    top: 50%
    transform translateY(-50%)
    right: $_arrowPositionX
    border: $_arrowWidth solid transparent
  &:before
    border-top-color: $palette.grayLight
    top: 'calc(50% + %s)' % $_arrowPositionY
  &:after
    border-bottom-color: $palette.grayLight
    top: 'calc(50% - %s)' % $_arrowPositionY
  &[data-sort="0"]
    &:after
      border-bottom-color: $palette.grayDarker
      top: 50%
      transform: translateY(-($_arrowOffsetY))
    &:before
      display: none
  &[data-sort="1"]
    &:after
      display: none
    &:before
      top: 50%
      transform: 'translateY(%s)' % -($_arrowOffsetY/2)
      border-top-color: $palette.grayDarker
  &:hover
    &:after
      border-bottom-color: $palette.grayDarker
    &:before
      border-top-color: $palette.grayDarker

