.code
  position: relative
  border-radius: 3px
  margin-bottom: 20px
  background: $palette.grayLightest
  padding: 8px 0
  &:hover
    .copyBtn
      opacity: 1
      pointer-events: auto
  pre
    margin: 0
    padding: 0
    font-family: 'Source Code Pro'
    font-size 10px
    padding-left: 7px
    max-height 300px
    min-height: 26px
    overflow-y scroll
.copyBtn
  display: flex
  transition opacity .6s
  font-size: 13px
  opacity: 0
  pointer-events: none
  justify-content center
  align-items center
  background-color: rgba($palette.grayLighter, .5)
  position: absolute
  padding: 2px 7px
  bottom: 0
  left: 0
  right: 0
  height: 30px
  cursor pointer
  z-index: 888
  &:hover
    background-color: rgba($palette.grayLighter, .8)
